<li class="cardflex">
  <div class="user-image border">
    <img class="imgsize" src=<%= user.photo %> alt="" />
  </div>
  <div class="user-data border">
    <h1><%= user.name %></h1>
    <p class="number-posts">Number of posts: <%= user.posts_counter || 0 %></p>
  </div>
</li>